.ingredient-component-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section-header {
  font-weight: bold;
  font-size: 18px;
  padding-top: 7px;
}

.ingredient-list {
  padding: 0;
  margin: 0;
  text-align: left;
  width: fit-content;
  padding-left: 10px;
  list-style-type: none;
}

.number {
  font-weight: bold;
}

.no-ingredients {
  text-align: left;
  width: fit-content;
  padding-left: 10px;
}
