/* .home-spinner-container {
  display: flex;
  justify-content: center;
}

.no-results {
  font-weight: 800;
}

.recipe-link {
  text-decoration: none;
  color: var(--text-color);
}

.recipe-list {
  list-style-type: none;
  text-align: left;
  color: black;
  padding: 0;
  margin-top: 0;
}

.recipe-list-item {
  padding: 15px;
  padding-left: 0px;
}

.recipe-title {
  color: var(--text-color);
  font-weight: 800;
  text-decoration: underline;
}

.recipe-title:hover {
  color: rgb(112, 112, 112);
  cursor: pointer;
}

.recipe-rating {
  color: rgb(238, 194, 0);
  font-weight: 800;
  text-wrap: nowrap;
}

.pagination {
  display: flex;
  gap: 20px;
}

.page-button {
  padding: 7px 10px 7px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 900;
  font-size: 14px;
  color: white;
  width: fit-content;
  background-color: rgb(0, 140, 255);
}

.page-button:hover {
  cursor: pointer;
  background-color: rgb(68, 196, 255);
}
.page-button:disabled {
  cursor: not-allowed;
  background-color: rgb(214, 214, 214);
}

@media (max-width: 430px) {
  .recipe-list-item {
    padding-left: 5px;
  }
} */

.default-container {
  background: white;
  padding: 50px;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-weight: bold;
  margin: 50px;
  width: 50%;
}

.recipe-link {
  /* width: fit-content; */
  text-decoration: none;
  transition: transform 0.2s;
}

.recipe-link:hover {
  transform: scale(1.1);
}

.recipe-list {
  display: grid;
  gap: 25px 25px;
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr); */
  /* width: 90%; */
}

.four-by-four {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.four-by-three {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.four-by-two {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.four-by-one {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
/* ++ */
.three-by-four {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.three-by-three {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.three-by-two {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.three-by-one {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
/* ++ */
.two-by-four {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.two-by-three {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.two-by-two {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.two-by-one {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
/* ++ */
.one-by-four {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.one-by-three {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.one-by-two {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.one-by-one {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.mobile {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.recipe-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  width: 150px;
  height: 150px;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: transform 0.1s;
}

.recipe-list-item:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.recipe-title {
  color: var(--text-color);
  font-weight: 700;
  text-decoration: none;
}

.recipe-rating {
  color: rgb(238, 194, 0);
  font-weight: 800;
  text-wrap: nowrap;
}

.recipe-origin {
  color: black;
}

.pagination {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.page-button {
  padding: 10px 15px 10px 15px;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  font-size: 14px;
  color: white;
  width: fit-content;
  background-color: rgb(0, 140, 255);
}

.page-button:hover {
  cursor: pointer;
  background-color: rgb(68, 196, 255);
}
.page-button:disabled {
  cursor: not-allowed;
  background-color: rgb(214, 214, 214);
}

/* @media (max-width: 1047px) {
  .results-container {
    margin: 0;
  }
} */

/* @media (max-height: 892px) {
  .results-container {
    margin: 0;
  }
} */

@media (max-width: 550px) {
  .recipe-list {
    width: 100%;
    /* height: 45%; */
    /* overflow: auto; */
  }

  .recipe-list-item {
    width: 90%;
  }
}

/* @media (max-height: 750px) {
  .recipe-list {
    height: 40vh;
  }
} */
