#root {
  /* max-width: 720px; */
  /* margin: 0 auto; */
  /* padding: 0.5rem; */
  /* padding-right: 1rem; */
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
  /* height: 100vh; */
}
.App {
  height: 100vh;
  /* display: flex; */
}

@media (max-width: 400px) {
  #root {
    /* padding: 0.25rem; */
  }
}
