/* .wrapper {
  border: none;
  outline: none;
  position: relative;
  margin: 0 0 20px 0;
  padding: 0;
  box-sizing: border-box;
}

.input-label {
  opacity: 0.5;
  position: absolute;
  top: 10px;
  left: 0px;
  transition: all 0.2s ease;
  font-size: 18px;
}

.input-field {
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 3px;
  outline: none;
  padding: 8px;
  width: 100%;
  font-size: 18px;
} */

.input-label {
  opacity: 0.5;
  position: absolute;
  top: 10px;
  left: 0px;
  transition: all 0.2s ease;
  font-size: 18px;
}

.input-field {
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 0px;
  padding: 8px;
  width: 100%;
  font-size: 18px;
  /* box-shadow: 0 0 15px #b3b3b3; */
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom: 15px;
}

.input-field::placeholder {
  font-size: 16px;
  font-weight: bold;
  color: rgb(170, 170, 170);
}
