.switcher {
  position: fixed;
  top: 18px;
  left: 100px;
  display: flex;
  flex-direction: column;
}

.theme-button {
  width: 25px;
  height: 25px;
  margin: 5px;
  background-color: var(--primary-color);
  border: 3px solid rgb(23, 23, 23);
}

.theme-button:hover {
  cursor: pointer;
  filter: brightness(1.5);
}
