.general-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-title {
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
}

.image-and-list {
  display: flex;
  justify-content: center;
  padding: 0 50px 0 50px;
  min-width: 200px;
  max-width: 500px;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.recipe-image {
  display: block;
  width: 50%;
  max-width: 500px;
}

.general-details-list {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  max-width: 500px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.general-details-list-item {
  font-weight: bold;
  width: 100%;
  width: fit-content;
}
.general-details-label {
  color: rgb(161, 161, 161);
}

.original-link {
  color: var(--text-color);
  background-color: rgb(223, 223, 223);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

.original-link:hover {
  background-color: rgb(236, 236, 236);
}

@media (max-width: 1200px) {
  .image-and-list {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .general-details-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .general-details-list-item {
    width: fit-content;
  }
}

@media (max-width: 450px) {
  .general-details-list {
    min-width: 250px;
    justify-content: start;
  }
}
