.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  /* width: fit-content; */

  /* background: rgb(255, 255, 255);
  padding: 30px;
  margin-top: 10px;
  border-radius: 3px;
  border: 3px solid black;
  box-shadow: 0.5rem 0.5rem 0 black; */
  /* background-color: red; */
}

.input-and-button-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button-group {
  display: flex;
  gap: 15px;
}
