/* .cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.cards:last-child {
  margin-bottom: 50px;
}

.input-and-button-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button-group {
  display: flex;
  gap: 15px;
} */

.home-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  max-width: 1500px;
  margin: auto;
  padding: 0px 50px 0px 50px;
}

.search-container {
  /* min-width: 400px; */
  /* width: 30%; */
  /* max-width: 500px; */
  width: 500px;
  /* margin: auto 0 auto 0; */
  /* margin: auto; */
  /* padding: 50px; */
  transition: transform 1s;
}

@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.search-container:hover {
  /* .website-title {
    animation: colorRotate 5s linear 0s infinite;
  } */
  .jump {
    animation: gelatine 0.5s 0.3s;
  }

  /* Input {
    translate: -50px;
  }
  .button-group {
    translate: 50px;
  }  */
  transform: scale(1.1);
}

.website-title {
  padding: 0;
  margin: 0;
  font-size: 48px;
  padding-bottom: 10px;

  /* transition: translate 1s; */
}

.website-title:hover {
  /* translate: 50px; */
}

.jump {
  display: inline-block;
  color: rgb(0, 140, 255);
  /* transition: transform 2s; */
}

/* .jump:hover {
  transform: translate(100px);
} */

/* .home-search {
  transition: translate 1s;
}
.home-search:hover {
  translate: -50px;
} */

.button-group {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.results-container {
  /* width: 50%; */
  /* min-width: 500px; */
  /* max-width: 1000px; */
  /* width: 750px; */
  /* width: 755px; 
  height: 841px;  */
  /* width: fit-content; */
  /* margin: auto 0 auto 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin: 50px;
}
/* 
@media (max-width: 1099px) {
  .search-container {
    margin: auto 0 0 0;
  }

  .results-container {
    margin: 0;
  }
} */
@media (max-width: 500px) {
  .home-container {
    padding: 0 20px 0 20px;
  }

  .search-container {
    /* width: 100%; */
    padding: 30px 0px 30px 0px;
  }

  .results-container {
    margin: 0;
    height: 100%;
  }

  /* .recipe-list {
    height: 50%;
  } */
}
