.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.cards:last-child {
  margin-bottom: 50px;
}

.input-and-button-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button-group {
  display: flex;
  gap: 15px;
}
